.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.input {
  width: 100%;
  height: 150px;
  resize: none;
}

.output {
  margin-top: 10px;
  font-family: monospace;
  white-space: pre-wrap;
}
.success {
  background-color: #2eca5d;
  color: #000;
  width: 100%;
  margin: 10px auto;
  text-align: center;
}